// fonts
$poppins-font: "Poppins", "Arial", sans-serif;
$rubik-font: "Rubik", "Arial", sans-serif;

//colors
$text-color: #ffffff;
$background-color: #000000;
$index-gradient: #4A2800;
$about-us-background: #010101;
$about-us-gradient: #1A0E01;
$services-background: #050301;
$services-gradient: #120A01;
$news-gradient: #150C01;
$contacts-background: #090501;

// adaptive
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$accent-color: #DC7000
