
.big-new__link {
  color: inherit;
}

.big-new__author,
.big-new__reading-time {
  font-weight: 400;
}

.big-new__title {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}

.big-new__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 207.8%;
}
