.big-advantage__description {
  line-height: 202.5%;
}

.big-advantage__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 157.5%;
}

.big-advantage__text {
  font-weight: 400;
  line-height: 202.5%;
}
