.footer {
  background: #070707;
}

.footer__slogan,
.footer__author {
  font-weight: 400;
  line-height: normal;
}

.footer__title {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
}

.footer__list {
  @include list-reset;
}

.footer__link,
.footer__address,
.footer__tel {
  font-weight: 400;
  line-height: 186.3%;
  font-style: normal;
  color: inherit;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: 190.6%;
}
