.form__title {
  font-size: 30px;
  line-height: normal;
}

.form__text {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
}

.form__input {
  font-family: $poppins-font;
  font-size: 13px;
  line-height: normal;
  font-weight: 300;
  color: #000000;
  border: none;
}

.form__input::placeholder {
  color: #898989;
}
