.hero__caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  color: #E87D0E;
}

.hero__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 78px;
}

.hero__text {
  line-height: 32px;
}
