.page__body {
  margin: 0;

  font-family: $poppins-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  background-color: $background-color;
  color: $text-color;
}

.page__body--index {
  background: linear-gradient(181deg, $background-color 0.82%, #4A2800 129.1%);
  backdrop-filter: blur(7px);
}

.page__body--about-us {
  background: linear-gradient(180deg, #010101 -15.71%, #1A0E01 99.57%);
}

.page__body--services {
  background: linear-gradient(177deg, #050301 -30.15%, #120A01 92.85%);
}

.page__body--news {
  background: linear-gradient(176deg, #050301 -34.57%, #150C01 96.75%);
}

.page__body--contacts {
  background: linear-gradient(176deg, #090501 -26.24%, #120A01 96.98%);
}
