.page__body {
  margin: 0;

  font-family: $poppins-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  background-color: $background-color;
  color: $text-color;
}

.page__body--index {
  background: linear-gradient(181deg, $background-color 0.82%, $index-gradient 129.1%);
  backdrop-filter: blur(7px);
}

.page__body--about-us {
  background: linear-gradient(180deg, $about-us-background -15.71%, $about-us-gradient 99.57%);
}

.page__body--services {
  background: linear-gradient(177deg, $services-background -30.15%, $services-gradient 92.85%);
}

.page__body--news {
  background: linear-gradient(176deg, $services-background -34.57%, $news-gradient 96.75%);
}

.page__body--contacts {
  background: linear-gradient(176deg, $contacts-background -26.24%, $services-gradient 96.98%);
}
